:root {
/* Font */
--font-display-sans: mendl-sans-dusk, sans-serif; /* Display Sans-Serif font */
--font-body-sans: sofia-pro, sans-serif; /* Body Sans-Serif font */

/* Font Families for Specific Elements*/
--font-heading-1: var(--font-display-sans); /* Heading 1 - Unique Humanist Sans-Serif for visual heirachy */
--font-heading-2: var(--font-display-sans);
--font-paragraph: var(--font-body-sans); /* Sans-serif for readability */

/* Colors */
--color-primary: #1a462f; /* Primary color (dark green) */
--color-secondary: #FBC5DE; /* Secondary color (pink) for accents and call-to-action */
--color-bg: #f3ece2; /* Beige neutral background */
--color-text-primary: #f3ece2; /* Contrasting primary text color */
--color-text-secondary: #1a462f; /* Contrasting secondary text color */

  /* Spacing */
  --header-padding: 1rem 2rem;
  --button-padding: 0.5rem 1rem;
  --nav-padding: 1.875rem;
  --hamburger-width: 25px;
  --hamburger-height: 3px;
}

/*Buttons*/
.ghost-btn-primary {
    display: inline-block;
    width: 200px;
    padding: 8px;
    font-family: var(--font-display-sans);
    font-size: 24px;
    background-color: var(--color-bg);
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    outline: none; 
    }

.ghost-btn-primary:hover {
    border-radius: 0px;
    text-decoration: underline;
    transition: 0.1s ease-in-out;
}

.ghost-btn-primary2 {
    display: inline-block;
    width: 200px;
    padding: 8px;
    font-family: var(--font-display-sans);
    font-size: 24px;
    background-color: var(--color-primary);
    color: var(--color-bg);
    border: 2px solid var(--color-bg);
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    outline: none; 
    }

.ghost-btn-primary2:hover {
    border-radius: 0px;
    text-decoration: underline;
    transition: 0.1s ease-in-out;
}

.ghost-btn-secondary {
    display: inline-block;
    width: 200px;
    padding: 8px;
    font-family: var(--font-display-sans);
    font-size: 24px;
    background-color: var(--color-primary);
    color: var(--color-bg);
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    outline: none; 
    }

.ghost-btn-secondary:hover {
    background-color: var(--color-bg);
    color: var(--color-primary);
    border-radius: 0px;
    text-decoration: underline;
    transition: 0.1s ease-in-out;
}

.ghost-btn-secondary2 {
    display: inline-block;
    width: 150px;
    padding: 8px;
    font-family: var(--font-display-sans);
    font-size: 1.2rem;
    background-color: var(--color-primary);
    color: var(--color-bg);
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    outline: none; 
    }

.ghost-btn-secondary2:hover {
    background-color: var(--color-bg);
    color: var(--color-primary);
    border-radius: 0px;
    text-decoration: underline;
    transition: 0.1s ease-in-out;
}

/*Everything, basic reset*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Base styles for body text */
body{
    background-color: var(--color-bg);
    font-family: var(--font-body-sans);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5; /* To improve readability */
}

/* Base paragraph styles */
.paragraph {
    margin: 1em 0; /* Space above and below paragraphs*/
    font-family: var(--font-body-sans);
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6; 
}

/* Base heading styles */
.heading {
    margin:0;
    font-family: var(--font-body-sans);
    font-weight: 300;
    padding: 0.5em 0; /* Padding for spacing */
}

/* Additional styles for smaller text elements */
.caption {
    font-family: var(--font-body-sans);
    font-weight: 300;
    font-size: 1rem; /* 14px for captions */
    margin-top: 0.5em; /* Space above captions */
}

/* Specific styles for heading levels */

.heading-h1 {
    font-family: var(--font-display-sans);
    font-weight: 800;
    font-size: 8vw; /* 'rem' is a responsive font size, 196px */
    line-height: 1.2;
}

.heading-h2 {
    font-family: var(--font-display-sans);
    font-weight: 500;
    font-size: 3rem; /* 'rem' is a responsive font size, 48px */
    line-height: 1.3;
}

.heading-h3 {
    font-family: var(--font-body-sans);
    font-weight: 700;
    font-style: normal;
    font-size: 1.75rem; /* 'rem' is a responsive font size, 28px */
    line-height: 1.3;
    margin-bottom: 1rem;
}

.heading-h4 {
    font-family: var(--font-body-sans);
    font-weight: 500;
    font-style: normal;
    font-size: 2rem; /* 'rem' is a responsive font size, 28px */
    line-height: 1.3;
}

/*Navigation Bar*/
header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color-bg);
    align-items: center; /* Aligns text vertically central */
    border-bottom: 2px solid var(--color-primary);
    padding-left: 10px;
    padding-right: 0px;
    padding-bottom: 8.5px;
    z-index: 999;
}

#logo {
    height: 60px;
    padding-top: 10px;
}

.nav {
    transition: 0.3s ease-in-out;
}

.nav-list {
    list-style: none;
    align-items: center; /* Centres items vertically */
    display: flex;
    float:right;
}

ul li a {   /* Normal button state*/
    padding: 30px 30px;
    border-left: 2px solid var(--color-primary);
    text-decoration: none;
    color:var(--color-primary);
}
    
ul li a:hover { /*Hover state*/
    background-color:var(--color-primary);
    color: var(--color-bg);
}

#cta-button {
    background-color: var(--color-primary);
    color:var(--color-text-primary);
    text-decoration: none;
    padding: 30px 30px;
    align-items: center;
    border: 2px solid var(--color-primary);
    border-right-width: 0px;
}

#cta-button:hover {
    text-decoration: underline;
}

 /* Hamburger menu icon */
 .hamburger {
    display: none;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    padding-right: 20px;
  }

.bar {
    display: block;
    width: var(--hamburger-width);
    height: var(--hamburger-height);
    background-color: var(--color-primary); /*Colour of bars*/
    margin: 5px 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 100px;
  }

  /* Responsive menu */
@media (max-width: 768px) {
    .nav {
      position :fixed;
      top: 75px;
      left: -100%;
      gap: 0;
      background-color: var(--color-bg);
      width: 100%;
      padding: 10px 25px;
      justify-content: space-between;
      transition:0.3s;
    }
  
    .nav.active{
        left:0;
    }

    .nav-list {
        flex-direction: column;
        float: none;
        align-items: center;
        row-gap: 20px;
    }

    ul li a{
        padding: 5px 10px;;
        border: 0px;
        text-decoration: none;
    }

    ul li a:hover { /*Hover state*/
        text-decoration: underline;
        background-color: var(--color-bg);
        color: var(--color-primary);
    }

    #cta-button {
        padding: 5px 10px;
        border: 0px;
        background-color: var(--color-bg);
        color: var(--color-primary);
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

/*Home Page*/
.home {  /*This is the homepage container styling*/
    background-color: var(--color-bg);
}

.title {
    text-align: center;
    justify-content: center;
    padding-top: 200px;
    color: var(--color-primary);
    margin: auto;
    position:absolute;
}

@media screen and (min-width: 769px) {
    .title p{
        padding: 0px 375px;
    }
}

@media screen and (max-width: 768px) {
    .title p{
        padding: 0px 30px;
    }
}

.title h1{
    color: var(--color-primary);
    text-shadow: -10px 10px var(--color-secondary);
    padding-bottom: 0px;
}

.title p {
   font-style: italic;
   padding-top: 0px;
   padding-bottom: 20px;
}


@media screen and (min-width: 769px) {
    .bee-image{
        position: relative;
        padding-top: 250px;
        padding-left: 40px; 
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 768px) {
    .bee-image{
        display: block;
        padding-top: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
  }

  @media screen and (min-width: 769px) {
    .spark-image{
        position: relative;
        text-align: right;
        padding-top: 150px;
        padding-right: 200px;
    }
}

@media screen and (max-width: 768px) {
    .spark-image{
        display: block;
        padding-top: 600px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
  }

 /* Homepage 'welcome' section*/
.welcome {
    width: 100%;
    height: 90vh;
    padding: 20px;
    background: #1a462f;
}

.columns-welcome {
    display: flex;
    flex-wrap: wrap; /*flex-wrap to ensure responsive wrapping*/
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin:50px;
}

.column-welcome {
    background-color: var(--color-primary);
    color: var(--color-text-primary);
    flex: 1; /* Allows columns to expand evenly */
}

.column-welcome img {
    max-width: 87%;
    height: auto;
    object-fit: contain;
    border: 2px solid var(--color-secondary);
    box-shadow: -20px 20px var(--color-secondary)
}

.column-welcome p {
    padding-bottom: 30px;
    padding-right: 100px;
}

.welcome .columns-welcome .column-welcome
.about-landing .columns-about-landing .column-about-landing
.event-markets .columns-event-markets .column-event-markets {
    flex: 0 0 48%; /* Two columns, each 48% of the row */
}

/*Home- page divider*/
.page-divider-container {
    background-color: var(--color-secondary);
}
/*Inner container styling*/
.page-divider-inner {
    font-family: var(--font-display-sans);
    font-size: 1.75rem;
    font-weight: 500;
    color: var(--color-text-secondary);
    padding-top: 5px;
    padding-bottom: 5px;
    white-space: nowrap;
}

/*Container styling*/
.page-divider-container2 {
    background-color: var(--color-primary);
}
/*Inner container styling*/
.page-divider-inner2 {
    font-family: var(--font-display-sans);
    font-size: 1.75rem;
    font-weight: 500;
    color: var(--color-secondary);
    padding-top: 5px;
    padding-bottom: 5px;
    white-space: nowrap;
}

/*3 card links section*/
.home-card-links{
    padding: 30px;
}
.columns{
    display: flex;
    flex-wrap: wrap; /*flex-wrap to ensure responsive wrapping*/
    gap: 20px;
    justify-content: center;
}

.column{
    background: var(--color-bg);
    padding: 0px;
    border: 3px solid #1a462f;
    text-align: center;
    flex: 1; /* Allows columns to expand evenly */
}

.column img {
    width: 100%;
    padding: 20px;
    object-fit: cover;
}

.ghost-button-2{
    height: 50px;
    width: 150px;
    font-family: mendl-sans-dusk, sans-serif;
    font-size: 24px;
    background-color: #f3ece2;
    color: #1a462f;
    border-top: 3px solid #1a462f;
    text-align: center;
    text-decoration: none;
    width:100%;
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;
    padding-top: 5px;
    display:block;
    text-align:center;
}

.ghost-button-2:hover {
    background-color: #1a462f;
    color: #f3ece2;
}

.home-card-links .columns .column {
    flex: 0 0 30%; /* Three columns, each 30% of the row */
}

/* Responsive Cards Design */
@media (max-width: 768px) {
    .welcome .columns-welcome .column-welcome 
    .home-card-links .columns .column
    .statistics .columns-about .column-about
    .newsletter .columns-newsletter .column-newsletter
    .about-landing .columns-about-landing .column-about-landing
    .event-markets .columns-event-markets .column-event-markets {
        flex: 0 0 100%; /* Stack columns on smaller screens */
    }

    .section h2 {
        font-size: 1.5rem;
    }
}

/*Newsletter section*/
.columns-newsletter {
    display: flex;
    flex-wrap: wrap; /*flex-wrap to ensure responsive wrapping*/
    gap: 20px;
    justify-content: center;
}

.column-newsletter {
    background-color: var(--color-secondary);
    color: var(--color-text-secondary);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    flex: 1; /* Allows columns to expand evenly */
}

.column-newsletter h2 {
    padding-bottom: 5px;
}

.column-newsletter p {
    padding-bottom: 20px;
}

.newsletter .columns-newsletter .column-newsletter 
.about-head .columns-about-head .column-about-head {
    flex-direction: column; /* One column */
}

/*About Page*/

/*About page title*/
.about-header {
    height: 30vh;
    width: 100%;
}

.about-header h1 {
    color: var(--color-primary);
    text-shadow: -10px 10px var(--color-secondary);
    padding-top: 75px;
    padding-left: 20px;
    
}

/*About header*/
.about-landing {
    width: 100%;
    height: 70vh;
    padding: 20px 20px;
    background: var(--color-bg);
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: var(--color-primary);
}

.columns-about-landing {
    display: flex;
    flex-wrap: wrap; /*flex-wrap to ensure responsive wrapping*/
    gap: 20px;
    padding-top: 25px;
}

.column-about-landing {
    background-color: var(--color-bg);
    color: var(--color-primary);
    flex: 1; /* Allows columns to expand evenly */
}

.column-about-landing img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.column-about-landing h1 {
    padding-right: 5rem;
    padding-bottom: 35vh;
}

/*Mission Statement*/
.serious-business {
    background-color: #f3ece2;
    height: 90vh;
    width: 100%;
    color: #1a462f;
}

#table {
    width: 65%;
    height: 100%;
    float: right;
    padding-top:75px;
    padding-right: 0px;
}

 table.table, td {
    border-top: 2px solid#1a462f;
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 20px;
 }


#why-the{
    width: 35%;
    height: 100%;
    float:left;
    padding-left: 30px;
    padding-top: 90px;
    padding-right: 200px;
    color: #1a462f;
}

/*Statistics*/
.statistics{
    background-color: var(--color-bg);
    height: 80vh;
    width: 100%;
    color: #1a462f;
    padding: 50px;
    text-align: center;
}

.statistics p {
    position: absolute;
    bottom: 0;
}
.columns-about{
    display: flex;
    flex-wrap: wrap; /*flex-wrap to ensure responsive wrapping*/
    gap: 20px;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 0px;
}

.column-about{
    position: relative;
    height: 40vh;
    background: var(--color-secondary);
    padding: 10px 10px;
    text-align: left;
    flex: 1; /* Allows columns to expand evenly */
}

.column-about p{
    padding: 10px;
}

.statistics .columns-about .column-about {
    flex: 0 0 22%; /* Four columns, each 22% of the row */
}

/* Scran webpage */
.scran {
    background-color: #f3ece2;
    height: 100vh;
    width: 100%;
}

.scran-head {
    position: relative;
    text-align: left;
}

.scran-title {
    position: absolute;
    bottom: 0.5rem;
    left: 2rem;
    font-family: mendl-sans-dusk, sans-serif;
    font-weight: 800;
    font-size: 10vw;
    color: #f3ece2;
    text-shadow: -10px 10px #1a462f;
}

.scran_intro {
    text-align: center;
    margin: auto;
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

/*Scran Introduction Responsivness*/
@media screen and (min-width: 801px) {
    .scran_intro {
      padding: 60px 400px;
    }
  }

@media screen and (max-width: 800px) {
    .scran_intro{
        padding: 60px 40px;
    }
  }

 /*Scran 'budget-bites' section*/
.budget-bites {
    background-color: var(--color-bg);
    height: 90vh;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}

.budget-bites-container {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: var(--color-bg);
    width: 900px;
    height: 600px;
    border: 3px solid var(--color-primary);
    box-shadow: 15px 15px var(--color-primary);
}

.budget-bites-left {
    max-width: 50%;
    height:100%;
    float:left;
    padding-top: 75px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 60px;
    color: var(--color-primary);
    border-right-width: 2px;
    border-right-color: var(--color-primary);
}

.budget-bites-left p{
    padding-bottom: 30px;
}

#budget-bites-right {
    float:right;
    max-width: 50%;
    height:100%;
    border-left: 3px solid var(--color-primary);
}

#budget-bites-right img {
    float: right;
    width: 100%;
    height: 100%;
}

/* Map container styling */
.map{
text-align: center;
padding: 40px 20px;
}

/* 'Our Favs' section styling */
.our-favs {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-bg);
    height: 60vh;
    width: 100%;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

/* 'Our Favs 2' section styling */
.our-favs2 {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-bg);
    height: 60vh;
    width: 100%;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

#chippy-container {
    display: inline-block;
    margin-right: 50px;
    max-width: 50%;
    background-color: var(--color-bg);
    width: 600px;
    height: 400px;
    border: 3px solid;
    border-color: var(--color-primary);
    box-shadow: 10px 10px var(--color-primary);
}

#chippy-left {
    max-width: 50%;
    height:100%;
    float:left;
    padding-top: 45px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 40px;
    color: var(--color-primary);
    border-right-width: 2px;
    border-right-color: var(--color-primary);
}

#chippy-right {
    float:right;
    max-width: 50%;
    height:100%;
    border-left: 3px solid var(--color-primary);
}

#chippy-right img {
    float: right;
    width: 100%;
    height: 100%;
}

#indian-container {
    display: inline-block;
    max-width: 50%;
    background-color: var(--color-bg);
    width: 600px;
    height: 400px;
    border: 3px solid;
    border-color: var(--color-primary);
    box-shadow: 10px 10px var(--color-primary);
}

#indian-container-left {
    max-width: 50%;
    height:100%;
    float:left;
    padding-top: 45px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 40px;
    color: var(--color-primary);
    border-right-width: 2px;
    border-right-color: var(--color-primary);
}

#indian-right {
    float:right;
    max-width: 50%;
    height:100%;
    border-left: 3px solid var(--color-primary);
}

#indian-right img {
    float: right;
    width: 100%;
    height: 100%;
}

/*TIMELINE*/
/*Timline Introduction*/
.scran img {
    width: 100%;
    height:100%;
    object-fit: cover;
}

.timeline_intro {
    text-align: left;
    margin: auto;
    color: var(--color-primary);
}

/*Timline Introduction Responsivness*/
@media screen and (min-width: 769px) {
    .timeline_intro {
      padding: 60px 375px;
    }
}

@media screen and (max-width: 768px) {
    .timeline_intro{
        padding: 60px 30px;
    }
  }

/*Timeline styling*/
.timeline {
    margin: 5em auto;
    max-width: 34.15em;
    color:var(--color-primary);
}

.checkpoint {
    max-width: 34em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}

.checkpoint div {
    border: 2px solid var(--color-primary);
    padding: 1.5rem;
    box-shadow: -10px 10px var(--color-primary);
}

.checkpoint div img {
    width: 100%;
    object-fit: cover;
}

 .checkpoint:nth-child(odd){
    border-left: 3px solid var(--color-primary);
    padding-left: 3em;
    transform: translateX(17em);
}
    
.checkpoint:nth-child(even){
    border-right: 3px solid var(--color-primary);
    padding-right: 3em;
    transform: translateX(-16.82em);
}

.checkpoint:nth-child(odd) ::before,
.checkpoint:nth-child(even) ::before {
    content: '';
    background: var(--color-primary);
    width: 1.8em;
    height: 3px;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
}

.checkpoint:nth-child(odd) ::before{
    left: 0;
}

.checkpoint:nth-child(even) ::before{
    right: 0;
}

.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before {
    content: '';
    background: var(--color-primary);
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius:50%;
}

.checkpoint:nth-child(odd) div::before {
    left: -0.5em;
}

.checkpoint:nth-child(even) div::before {
    right: -0.5em;
}

/*Responsive Timeline*/
@media screen and (max-width:1150px){
    .timeline {
        width:80vw;
    }
    .timeline .checkpoint {
        width: 100%;
        transform: none;
        padding-left:0;
        padding-right:0;
        border: none;
    }
    .timeline .checkpoint::before {
        width:3px;
        height: 1.8em;
        top: -2em;
        left: 50%;
        transform: translateX(-50%);
    }
    .timeline .checkpoint div::before{
        top: -0.1em;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* Events */
.event {
    background-color:var(--color-bg);
    height: 100vh;
    width: 100%;
    padding: 20px;
    padding-top: 95px;
}

.event img {
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 25px;
    border: 2px solid var(--color-primary)
}

.event-head {
    position: relative;
    text-align: left;
}

.event-title {
    position: absolute;
    bottom: 6rem;
    left: 2rem;
    font-family: mendl-sans-dusk, sans-serif;
    font-weight: 800;
    font-size: 10vw;
    color: #f3ece2;
    text-shadow: -10px 10px #1a462f;
}

.event-caption {
    position: absolute;
    bottom:2rem;
    left: 2rem;
    padding-right: 500px;
    color:var(--color-primary);
}

p>span {
    background-color: var(--color-bg);
    line-height: 2;
}

/*3 card links section*/
.events-links{
    padding: 40px;
    color: var(--color-primary);
    border-top: 2px solid var(--color-primary);
}
.events-links h2{
    margin:20px;
}
.events-columns{
    display: flex;
    flex-wrap: wrap; /*flex-wrap to ensure responsive wrapping*/
    gap: 20px;
    justify-content: center;
    margin: 20px;
}

.events-column{
    background: var(--color-bg);
    padding: 0px;
    flex: 1; /* Allows columns to expand evenly */
    overflow:hidden;
}

.events-column img {
    width: 100%;
    object-fit: cover;
    border: 2px solid var(--color-primary);
    transition: transform 0.3s ease-in;
}

.events-column img:hover {
    transform: scale(1.2);
}

.events-column p{
    text-decoration: underline;
}

.events-column h3{
    text-decoration: underline;
}

/* Event 1 */
.event-markets {
    width: 100%;
    height: 70vh;
    background: var(--color-bg);
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: var(--color-primary);
}

.columns-event-markets {
    display: flex;
    flex-wrap: wrap; /*flex-wrap to ensure responsive wrapping*/
    gap: 40px;
    text-align: center;
    align-items: center;
    margin: 60px;
}

.column-event-markets {
    background-color: var(--color-bg);
    color: var(--color-primary);
    flex: 1; /* Allows columns to expand evenly */
    justify-content: center;
}

.column-event-markets img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.video-container{
    background-color: var(--color-primary);
    text-align: center;
    padding: 40px 20px;
    justify-content: center;
}

.video-container iframe{
    border: 2px solid black;
    box-shadow: -10px 10px var(--color-secondary)
}

/*Footer styling*/
.footer-container {
    background-color: var(--color-primary);
    padding: 3rem 0 0 0;
}

.footer {
    width: 100%;
    height: 40vh;
    background-color: var(--color-primary);
    color: var(--color-bg);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-left {
    padding-left:0;
}
.footer-left img{
    height: 150px;
    padding-bottom: 0;
}

.footer-left p{
    padding-top: 0;
    padding-right: 200px;
    color: var(--color-text-primary)
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
    max-width: 300px;
}

.footer-heading h2 {
    padding-bottom: 1rem;
}

.footer-heading a {
    color: var(--color-bg);
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-heading a:hover {
    color: var(--color-secondary)
}

.footer-bottom {
    text-align: center;
    background-color: var(--color-secondary);
    padding: 10px 10px;
    width: 100%;
}

/*Newsletter subscription form*/
.footer-email-form h2 {
    margin-bottom: 2rem;
}

#footer-email{
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

#footer-email::placeholder {
    color: var(--color-primary)
}

#footer-email-btn{
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: var(--color-bg);
    outline: none;
    border: 2px solid #1a462f;
    color: var(--color-primary);
    font-size: 1rem;
}

#footer-email-btn:hover {
    cursor: pointer;
    background-color: var(--color-secondary)
}

/* Footer Responsiveness */

@media screen and (max-width: 1150px) {
    .footer {
        height: 50vh;
    }

    .footer-email-form {
        margin-top: 4rem;
    }
}

@media screen and (max-width: 820px) {
    .footer {
        padding-top: 2rem;
    }
}

@media screen and (max-width: 720px) {
    .footer-3 {
        display:none;
    }

    .footer-email-form {
        margin-top: 2rem;
    }
}
